# maven ignore
target/
*.jar
!.mvn/wrapper/*
*.war
*.zip
*.tar
*.tar.gz
.flattened-pom.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
.idea
*.ipr
*.iml
*.iws

# Tomcat
.extract